.hoa-polls table {
    border-collapse: collapse;
}

.hoa-polls td, .hoa-polls th {
    border: 1px solid;
    padding: 5px;
}

.hoa-polls th {
    background-color: #d3d3d3 !important;
}

#hoaAnswerAdd, #questions_title {
    display: inline-block;
}

.hoa_error_msg {
     display: none;
     color: red;
 }